.form {
    border: 1px slateblue solid;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;;
}

.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;;
}
